<div class="chatlist-view" data-style="locaface">


    <div data-role="navigation-bar" data-style="locaface">
        <div data-role="button" data-name="back-button" data-style="back">Back</div>

        <div data-role="title"></div>
        <div data-role="text" data-name="menu" class="menudiv">
            <img data-role="image" id="menu" data-name ="menuimg" />
        </div>

        <div class="preloader" data-name="preLoader" data-role="text">
            <div data-role="activity-indicator" data-name="preloaderIndicator" class="PreloadertInd"></div>
            <p>Please wait...</p>
        </div>
    </div>

    <div data-role="content">

         <div class="noMsg" data-name="noMSG" data-role="text">
         There are no messages in inbox.
         </div>
         <div class="chatlist" data-role="text" data-name="ChatList">

         </div>
    </div>
</div>


</div>