<div class="home-view" data-style="locaface">


    <div data-role="navigation-bar" data-style="locaface">
        <img data-role="image" data-name="homelogo" id="homelogo"/>

        <div data-role="title"></div>
        <img data-role="image" data-name="menu" id="menu"/>
    </div>

    <div data-role="content">
        <div class="post">
            <div class="postContainer">

                <img class="postImage" src="a.jpg"/>

                <div class="postDetails">
                    <div class="postOwner">
                        Afshin Noroozi
                    </div>
                    <div class="postTitle">
                        Hi, I need a plumber right now!!! please help
                    </div>
                </div>

            </div>
            <div class="postBottom">
                <div class="postLike">
                    <div class="postButtonContainer">
                        <div class="postIcon"><img src="./images/locaface/star.png" class="postIcon"/></div>
                        <div class="postButtonP">+335</div>
                    </div>
                </div>
                <div class="postComments">
                    <div class="postButtonContainer">
                        <div class="postIcon"><img src="./images/locaface/comment.png" class="postIcon"/></div>
                        <div class="postButtonP">4</div>
                    </div>
                </div>
                <div class="postDistance">
                    <div class="postButtonContainer">
                        <div class="postIcon"><img src="./images/locaface/range.png" class="postIcon"/></div>
                        <div class="postButtonP">~200m</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="post">
            <div class="postContainer">

                <img class="postImage" src="h.jpg"/>

                <div class="postDetails">
                    <div class="postOwner">
                       Hamid Bahrami
                    </div>
                    <div class="postTitle">
                        Who wants to make a party in this community?
                    </div>
                </div>

            </div>
            <div class="postBottom">
                <div class="postLike">
                    <div class="postButtonContainer">
                        <div class="postIcon"><img src="./images/locaface/star.png" class="postIcon"/></div>
                        <div class="postButtonP">+6</div>
                    </div>
                </div>
                <div class="postComments">
                    <div class="postButtonContainer">
                        <div class="postIcon"><img src="./images/locaface/comment.png" class="postIcon"/></div>
                        <div class="postButtonP">2</div>
                    </div>
                </div>
                <div class="postDistance">
                    <div class="postButtonContainer">
                        <div class="postIcon"><img src="./images/locaface/range.png" class="postIcon"/></div>
                        <div class="postButtonP">~40m</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>