<div class="menu-view" data-style="locaface">


    <div data-role="navigation-bar" data-style="locaface">
        <div data-role="button" data-name="back-button" data-style="back">Back</div>

        <div data-role="title"></div>

    </div>

    <div data-role="content">
        <div class="menuItemsContainer">
            <div class="menuItemsLeft" data-role="text" data-name="menuItem1">
                <div class="menuItems"><img data-role="image" data-name="menuImg1"  class="menuItemImage"/><P>My profile</P></div>
            </div>
            <div class="menuItemsRight" data-role="text" data-name="menuItem2">
                <div class="menuItems"><img data-role="image" data-name="menuImg2"  class="menuItemImage"/><P>Home</P></div>
            </div>
            <div class="menuItemsLeft" data-role="text" data-name="menuItem3">
                <div class="menuItems"><img data-role="image" data-name="menuImg3"  class="menuItemImage"/><P>Messages</P></div>
            </div>
            <div class="menuItemsRight" data-role="text" data-name="menuItem4">
                <div class="menuItems"><img data-role="image" data-name="menuImg4"  class="menuItemImage"/><P>LocaLands</P></div>
            </div>
            <div class="menuItemsLeft" data-role="text" data-name="menuItem5">
                <div class="menuItems"><img data-role="image" data-name="menuImg5"  class="menuItemImage"/><P>My posts</P></div>
            </div>
            <div class="menuItemsRight" data-role="text" data-name="menuItem6">
                <div class="menuItems"><img data-role="image" data-name="menuImg6"  class="menuItemImage"/><P>Distance range</P></div>
            </div>
            <div class="menuItemsLeft" data-role="text" data-name="menuItem7">
                <div class="menuItems"><img data-role="image" data-name="menuImg7"  class="menuItemImage"/><P>Settings</P></div>
            </div>
            <div class="menuItemsRight" data-role="text" data-name="menuItem8">
                <div class="menuItems"><img data-role="image" data-name="menuImg8"  class="menuItemImage"/><P>Sign out</P></div>
            </div>
        </div>
    </div>

</div>