<div class="post-detail" data-style="locaface">


    <div data-role="navigation-bar" data-style="locaface">
        <div data-role="button" data-name="back-button" data-style="back">Back</div>

        <div data-role="title"></div>
        <img data-role="image" data-name="menu" id="menu"/>
    </div>

    <div data-role="content">

        <div class="detail">
            <div class="detailContainer">
                <img class="detailImage" src="h.jpg"/>

                <div class="detailBoxtop">
                    <div class="detailOwner">Hamdi Bahrami</div>
                    <div class="detailLike">
                        <div class="postIcon"><img src="./images/locaface/star-white.png" class="postIcon"/></div>
                        <div class="postButtonP">+6</div>
                    </div>
                </div>
                <hr class="detailLine"/>
                <div class="detailPostDetail">

                    Hey, i'm so bored tonight and decided to make a party, there is a bottle of absolute here but bring your own drink if you want! </br>
                    call me in my skype in order to being informed more...</br> i'm waiting for you guys ;)
                </div>
                <div class="comments">
                    <div class="comment">
                        <div class="commentOwner">
                           Some Girl :
                        </div>
                        <div class="commentText">
                            Definitely I will come
                        </div>
                    </div>
                    <div class="comment">
                        <div class="commentOwner">
                            Hamid Bahrami :
                        </div>
                        <div class="commentText">
                           Ey joonam... kheili behtar shod!
                        </div>
                    </div>
                    <div class="comment">
                        <div class="commentOwner">
                            Armin Rasoulzadeh :
                        </div>
                        <div class="commentText">
                            Count shod hamid jan!
                        </div>
                    </div>
                    <div class="comment">
                        <div class="commentOwner">
                           Mary Mehrmand :
                        </div>
                        <div class="commentText">
                            Where are you hamid ?!? I have to talk with you right now!
                        </div>
                    </div>
                    <div class="comment">
                        <div class="commentOwner">
                            Houman Ghafari :
                        </div>
                        <div class="commentText">
                            Plan B nadarid vase kasayi ke mikhan aragh kishmish bokhoran ?
                        </div>
                    </div>
                    <div class="comment">
                        <div class="commentOwner">
                            Masoud Teymouri :
                        </div>
                        <div class="commentText">
                            Man lebas nadaram ...
                        </div>
                    </div>
                    <input type="text" name="fname" placeholder="Comment here" class="commentTextBox">
                </div>
            </div>

        </div>
    </div>

</div>