<div class="profile-view" data-style="locaface">


    <div data-role="navigation-bar" data-style="locaface">
        <div data-role="button" data-name="back-button" data-style="back">Back</div>

        <div data-role="title"></div>
        <div data-role="text" data-name="menu" class="menudiv">
            <img data-role="image" id="menu" data-name ="menuimg" />
        </div>

        <div data-role="button" data-name="editButton">Edit</div>
        <div class="preloader" data-name="preLoader" data-role="text">
            <div data-role="activity-indicator" data-name="preloaderIndicator" class="PreloadertInd"></div>
            <p>Please wait...</p>
        </div>
    </div>

    <div data-role="content">


        <div class="profile">
            <div class="profileBanner">
                <div class="profileImage">
                    <img class="profileImg" data-role="image" data-name="ProfileImage"/>
                </div>
                <div class="profileBannerRightPanel">
                    <div class="profileNickName" data-role="text" data-name="ProfileNickName">
                        Mr.Trump
                    </div>
                    <div class="profileEdit">
                        Edit Profile
                    </div>

                </div>
            </div>
            <hr class="profileLine"/>
            <div class="profileInformation" data-role="text" data-name="ProfileInformationField">
                <div class="profileInformationField">
                    <div class="profileInformationName">
                        First name :
                    </div>
                    <div class="profileInformationData"  data-role="text" data-name="ProfileFirstName">
                        Afshin
                    </div>
                </div>
                <div class="profileInformationField">
                    <div class="profileInformationName">
                        Last name :
                    </div>
                    <div class="profileInformationData"  data-role="text" data-name="ProfileLastName">
                        Noroozi
                    </div>
                </div>
                <div class="profileInformationField">
                    <div class="profileInformationName">
                        Birth Date :
                    </div>
                    <div class="profileInformationData"  data-role="text" data-name="ProfileBirthDay">
                        22/50/1973
                    </div>
                </div>
                <div class="profileInformationField">
                    <div class="profileInformationName">
                        Sex :
                    </div>
                    <div class="profileInformationData"  data-role="text" data-name="ProfileSex">
                        Male
                    </div>
                </div>
                <div class="profileInformationField">
                    <div class="profileInformationName">
                        E-mail :
                    </div>
                    <div class="profileInformationData"  data-role="text" data-name="ProfileEmail">
                        Afshin@locaface.com
                    </div>
                </div>
                <div class="profileInformationField">
                    <div class="profileInformationName">
                        More Information :
                    </div>
                    <div class="profileInformationData" data-role="text" data-name="ProfileAbout">
                           I like light work without stress, but remember i did great works with just little resources. </br>
                           I became reach with my mind, not my money!</br>
                           God bless you!


                    </div>
                </div>
                <div class="profileInformationField">
                    <div class="profileInformationName">
                       Phone Number :
                    </div>
                    <div class="profileInformationData" data-role="text" data-name="ProfilePhone">
                       +9891234567


                    </div>
                </div>
                <div class="profileInformationField">
                    <div class="profileInformationName">
                    Locaface Rank :
                </div>
                    <div class="profileInformationData" data-role="text" data-name="ProfileGrade">
                        Land Lord


                    </div>
                </div>

                <div class="profileFooter">

                    <div data-role="button" class="profileMessageButton" data-name="ProfileMessageButton">
                          <div data-role="label" > <img src="./images/locaface/messages-white.png" class="profileMessageButtonImg"/><div class="profileMessageButtonP"></div> </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>