<div class="signup-view" data-style="locaface">



    <div data-role="content">
        <div class="signup">

            <div style="padding-right: 140px;">
            <div class="signuplogo">

            </div>
            <div data-role="activity-indicator" data-name="MyActivityIndicator" class="signupActInd"></div>
            </div>
            <div class="signupInputs">

                    <div class="sigupField">
                        <input type="email" name="uname" placeholder="Your Email address" class="signupInputField" id="emailinput" >
                        <p>(Required)</p>
                    </div>
                     <div class="sigupField">
                    <input type="text" name="uname" placeholder="Locaface display name" class="signupInputField" id="aliasinput" >
                         <p>(Required)</p>
                    </div>
                <div class="sigupField">
                    <input type="password" name="mypass" placeholder="Type your password" class="signupInputField" id="passwordinputsignup">
                    <input type="password" name="myrepass" placeholder="Confirm password" class="signupInputField" id="repasswordinputsignup">
                    <p>(Required)</p>
                </div>
                <div class="sigupField">
                    <input type="text" name="uname" placeholder="First name" class="signupInputField" id="firstnameinput" >
                    <p>(Required)</p>
                </div>
                <div class="sigupField">
                    <input type="text" name="uname" placeholder="Last name" class="signupInputField" id="lastnameinput" >
                    <p>(Required)</p>
                </div>
                <div class="sigupField">
                    <input type="date" name="uname"  class="signupInputField" id="dateinput" max="1996-12-31" min="1916-01-01">

                    <p>(Required) Birth date</p>
                </div>
                <div class="sigupField">
                    <select class="signupInputField" id="sexinput" >
                        <option value="true">
                            Male
                        </option>
                        <option value="false">
                            Female
                        </option>
                    </select>

                    <p>(Required) Sex</p>
                </div>


            </div>
            <div class="sigupField">

                <input name="cb" id="cb" type="checkbox" class="signupCheckbox">
                <label for="cb" class="agreementsignuplbl">I accept </label> <div class="agreementsignuplblul" data-role="text" data-name="termsButton">terms of use</div>

            </div>

            <div class="signupButtonbottom" data-role="text" data-name="cancelButton">
                Cancel
            </div>
            <div class="signupButtonbottom" data-role="text" data-name="signupButton">
                Signup now
            </div>




            <!-- <div class="lostpassword" data-role="text" data-name="lostpasswordButton">
              <p>Lost password? click here!</p>
             </div>-->



        </div>

    </div>

</div>