<div class="changerange-view" data-style="locaface">


    <div data-role="navigation-bar" data-style="locaface">
        <div data-role="button" data-name="back-button" data-style="back">Back</div>

        <div data-role="title"></div>
        <div class="preloader" data-name="preLoader" data-role="text">
            <div data-role="activity-indicator" data-name="preloaderIndicator" class="PreloadertInd"></div>
            <p>Please wait...</p>
        </div>
    </div>

    <div data-role="content">

        <div id="googleMap" style="width:100%;height:270px;"></div>
        <div style="margin-top: 16px; margin-right: 10px;margin-left: 10px;"><div data-role="slider" data-name="slider"></div></div>

        <div class="rangeText">
        <div class="rangeB">Your current view range is:</div> <div data-name="rangeNumber" data-role="text" class="rangeNumber">20</div>
       <div class="rangeTip">Tip: Change slider value to specify your view range.</div>
        </div>

    </div>

</div>