<div class="setting-view" data-style="locaface">


    <div data-role="navigation-bar" data-style="locaface">
        <div data-role="button" data-name="back-button" data-style="back">Back</div>

        <div data-role="title"></div>


    </div>

    <div data-role="content">

        <div class="sigupField">
            <input type="password" name="oldpass" placeholder="Old password" class="signupInputField" id="oldpass">


        </div>
        <div class="sigupField">
            <input type="password" name="newpass" placeholder="New password" class="signupInputField" id="newpass">
            <input type="password" name="renewpass" placeholder="Confirm new password" class="signupInputField" id="renewpass">

        </div>

        <div class="sigupField">
          <div data-name="changePassButton" data-role="button">
              Change Password
          </div>
        </div>
    </div>

</div>