<div class="home-view" data-style="locaface">


    <div data-role="navigation-bar" data-style="locaface">
        <img data-role="image" data-name="homelogo" id="homelogo"/>

        <div data-role="title"></div>
        <div data-role="text" data-name="menu" class="menudiv">
            <img data-role="image" id="menu" data-name ="menuimg" />
            <div data-role="text" data-name="menuBadge" class="menuBadge">1</div>
        </div>


        <div class="preloader" data-name="preLoader" data-role="text">
            <div data-role="activity-indicator" data-name="preloaderIndicator" class="PreloadertInd"></div>
            <p>Please wait...</p>
        </div>
    </div>

    <div data-role="content">
        <div class="noMsg" data-name="noMSG" data-role="text">
            There are no Locaface users in your range, increasing range may help you see more people.
        </div>

     <div data-role="text" data-name="HomePosts"></div>
    </div>

</div>