<div class="login-view" data-style="locaface">



    <div data-role="content">
     <div class="login">

         <div class="loginlogo">

         </div>

         <div class="loginInputs">
             <div class="loginInputContainerUserName">
             <input type="text" name="uname" placeholder="Email" class="loginUserName" id="usernameinput" required>
             </div>
             <div class="loginInputContainerPassword">
             <input type="password" name="pass" placeholder="Password" class="loginPassword" id="passwordinput" required>
             </div>
         </div>

         <div class="loginButton" data-role="text" data-name="loginButton">
          Login
         </div>


         <div class="loginNote">
             OR
             </br>
         </div>

         <div class="signupButton" data-role="text" data-name="signupButton">
          Signup now
         </div>

        <!-- <div class="lostpassword" data-role="text" data-name="lostpasswordButton">
          <p>Lost password? click here!</p>
         </div>-->
         <div data-role="activity-indicator" data-name="MyActivityIndicator" class="loginActInd"></div>


     </div>

    </div>

</div>