<div class="myposypost-detail" data-style="locaface">


    <div data-role="navigation-bar" data-style="locaface">
        <div data-role="button" data-name="back-button" data-style="back">Back</div>

        <div data-role="title"></div>
        <div data-role="button" data-name="edit-button">Edit</div>
        <div class="preloader" data-name="preLoader" data-role="text">
            <div data-role="activity-indicator" data-name="preloaderIndicator" class="PreloadertInd"></div>
            <p>Please wait...</p>
        </div>
    </div>

    <div data-role="content">


        <div class="detail">
            <div class="detailContainer" >
                <img data-role="image" data-name="DetailImage" class="detailImage"/>

                <div class="detailBoxtop">
                    <div class="detailOwner" data-role="text" data-name="DetailOwner">Loading...</div>
                    <div class="detailLike" data-role="text" data-name="DetailLikeButton">
                        <div class="postIcon"><img src="./images/locaface/star-white.png" class="postIcon"/></div>
                        <div class="postButtonP" data-role="text" data-name="DetailLikeText" >...</div>
                    </div>
                </div>
                <hr class="detailLine"/>
                <div class="detailPostDetail" data-role="text" data-name="DetailPostBody">

                    Loading...
                </div>
                <div class="comments" data-role="text" data-name="CommentPlaceHoder" >



                </div>
                <input type="text" name="cmnt" placeholder="Comment here" class="commentTextBox" id="commentTextBox">
                <div data-name="CommentSend" data-role="button" class="commentButton">Send</div>
            </div>

        </div>
    </div>

</div>