<div class="post-detail" data-style="locaface">


    <div data-role="navigation-bar" data-style="locaface">
        <div data-role="button" data-name="back-button" data-style="back">Back</div>

        <div data-role="title"></div>
        <img data-role="image" data-name="menu" id="menu"/>
    </div>

    <div data-role="content">

        <div id="detail">
            <!-- Remove if it is text { -->
            <div class="post ppic">
                <img src="1.jpg" width="100%" height="100%" alt="" />
            </div>
            <!-- } -->
            <div id="dtltitle">
                <a class="dtlname" href="#">Post Owner Name: </a>This is the title
            </div>

            <div id="postbody">
                <p>Post very detail text here, which is very long text. It mean this is very long long text can be extend to very length.
                    Post very detail text here, which is very long text. It mean this is very long long text can be extend to very length.</p>
            </div>
            <div id="commands">
                [Like button <span>+100</span>]  [Chat button]
            </div>
            <ul id="comments">
                <li><span class="dtlname">Armin Neo: </span>Hey what a good post you've done</li>
                <li><span class="dtlname">Masoud: </span>Afarin Afarin</li>
                <li><span class="dtlname">May Zhou: </span>keshi ni bu keyi</li>
            </ul>

            <!-- There is a text box for comment, it can be here -->

        </div>
    </div>

</div>