<div class="post-editor" data-style="locaface">


    <div data-role="navigation-bar" data-style="locaface">
        <div data-role="button" data-name="back-button" data-style="back">Back</div>

        <div data-role="title"></div>
        <div data-role="button" data-name="save-button">Save</div>
        <div class="preloader" data-name="preLoader" data-role="text">
            <div data-role="activity-indicator" data-name="preloaderIndicator" class="PreloadertInd"></div>
            <p>Please wait...</p>
        </div>
    </div>

    <div data-role="content">

        <input type="file" id="selectImageFile" style="position: fixed; top:1000px;">
        <div id="uploadPercent"> </div>
    </div>

</div>